<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"> 
	
<jsp:directive.page contentType="text/plain; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

<!--
BibTeX output for bookmarks
-->

<c:forEach var="post" items="${command.bookmark.list}">
	<c:set var="bookmark" value="${post.resource}"/>
	<fmt:formatDate var="postDate" value='${post.date}' pattern="yyyy-MM-dd'T'HH:mm:ss.SSSZ"/>
<jsp:text>
@electronic{${mtl:getHostName(bookmark.url)},
   title       = {${bookmark.title}}, 
   url         = {${bookmark.url}},
   biburl      = {${properties['project.home']}url/${bookmark.intraHash}/${post.user['name']}},
   keywords    = {${mtl:toTagString(post.tags)}},
   added-at    = {${postDate}},
   description = {${post.description}},
   interhash   = {${bookmark.interHash}}, 
   intrahash   = {${bookmark.intraHash}}
}
</jsp:text>
  
</c:forEach>
</jsp:root>