<?xml version="1.0" ?>
<jsp:root version="2.0"
		  xmlns="http://www.w3.org/1999/xhtml"
		  xmlns:jsp="http://java.sun.com/JSP/Page"
		  xmlns:c="http://java.sun.com/jsp/jstl/core"
		  xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
		  xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
		  xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
		  xmlns:bmark="urn:jsptagdir:/WEB-INF/tags/resources/bookmark"
		  xmlns:fn="http://java.sun.com/jsp/jstl/functions"
		  xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"> 

<!-- rss output for bookmarks -->
<!-- TODO: merge with publication version of rssfeed.jspx -->

<jsp:directive.page contentType="application/xml; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" isELIgnored="false"/>	

<jsp:output omit-xml-declaration="false"/>

<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
		 xmlns="http://purl.org/rss/1.0/"
		 xmlns:taxo="http://purl.org/rss/1.0/modules/taxonomy/"
		 xmlns:dc="http://purl.org/dc/elements/1.1/"
		 xmlns:content="http://purl.org/rss/1.0/modules/content/"
		 > 

<channel rdf:about="${properties['project.home']}${fn:escapeXml(requPath)}">
  <title>${properties['project.name']} bookmarks for /<c:out value='${requPath}'/></title>
  <link>${properties['project.home']}<c:out value="${requPath}"/></link>
  <description>${properties['project.name']} RSS Feed for /<c:out value='${requPath}'/></description>

  <items>
    <rdf:Seq>
      <c:forEach var="post" items="${command.bookmark.list}">
        <rdf:li rdf:resource="${fn:escapeXml(mtl:removeInvalidXmlChars(post.resource.url))}"/>
      </c:forEach>
    </rdf:Seq>
  </items>
</channel>

<c:forEach var="post" items="${command.bookmark.list}">
  <c:set var="bookmark" value="${post.resource}"/>
  <item rdf:about="${fn:escapeXml(mtl:removeInvalidXmlChars(bookmark.url))}">
    <title><c:out value="${mtl:removeInvalidXmlChars(bookmark.title)}"/></title>
    <description>    
    	<c:out value="${mtl:removeInvalidXmlChars(post.description)}"/>
		<c:if test="${command.context.userLoggedIn}">
		&amp;lt;a href="${properties['project.home']}/editBookmark&amp;#63;hash=${post.resource.intraHash}&amp;amp;user=${mtl:encodePathSegment(post.user.name)}&amp;amp;copytag=${mtl:encodePathSegment(mtl:toTagString(post.tags))}" title="${fn:escapeXml(copyTitle)}"&amp;gt;				
			<fmt:message key="post.actions.copy"/>
		&amp;lt;/a&amp;gt;
		</c:if>
    </description>
    <link><c:out value='${mtl:removeInvalidXmlChars(bookmark.url)}'/></link>
    <dc:creator><c:out value="${post.user.name}" /></dc:creator>
    <dc:date>${mtl:formatDateW3CDTF(post.date)}</dc:date>
    <dc:subject>
      <c:forEach var="tag" items="${post.tags}"><c:out value='${mtl:removeInvalidXmlChars(tag.name)}'/><c:out value=" "/></c:forEach>  
    </dc:subject>
    <content:encoded>
	    <c:set var="desc"><bmark:desc post="${post}"/></c:set>
	    <c:out value="${mtl:removeInvalidXmlChars(desc)}"/>
    </content:encoded>
    <taxo:topics>
      <rdf:Bag>
        <c:forEach var="tag" items="${post.tags}">
          <rdf:li rdf:resource="${properties['project.home']}tag/${fn:escapeXml(mtl:removeInvalidXmlChars(tag.name))}"/>
        </c:forEach>  
      </rdf:Bag>
    </taxo:topics>
  </item>
</c:forEach>
</rdf:RDF>
</jsp:root>