#goldstandard {
	h1 {
		font-size: 100%;
		
		.publication-description {
			line-height: 1.3;
			font-size: 95%;
			display: block;
			margin-top: 0.4em;
		}
	}
	
	.content-header {
		border-bottom: none;
		margin-bottom: 0px;
	}
	
	h2 {
		padding-bottom: 5px;
		height: auto;
	}
	
	.tagcloud {
		text-align: center;
		.tag {
			display: inline-block;
			padding: 2px 5px 3px;
			margin: 0.8em 0.4em;
			border: 1px solid @main-color;
			font-weight: 700;
			line-height: 1;
			text-align: center;
			white-space: nowrap;
			vertical-align: baseline;
			border-radius: .25em;
			a {
				color: @main-color;
			}
		}
		
		.myown {
			background-color: fade(#006699, 15%);
		}
		
		.tagtiny {
			font-size: 65%;
		}
		
		.tagnormal {
			font-size: 75%
		}
		
		.taglarge {
			font-size: 88%;
		}
		
		.taghuge {
			font-size: 100%;
			padding: 8px;
		}
	}
	
	.citation-box {
		margin-bottom: 50px;
	}
	
	.community-page-user-list {
		.thumbnail {
			margin-bottom: 0px;
			border-bottom: none;
		}
		
		.user-avatar {
			max-width: 40px;
			max-height: 40px;
		}
		
		li.user-card {
			border: 1px solid #EEE;
			margin-right: 10px;
			padding-top: 10px;
			width: 55px;
			padding-bottom: 10px;
			border-radius: 5px;
			.btn {
				margin-top: 5px;
			}
		}
	}
	
	#related-publications {
		ul {
			padding-left: 0px;
		
			li {
				list-style: none;
				margin-bottom: 5px;
			}
			
			a.title {
				padding-right: 4px;
			}
		}
		
		.btn-group {
			margin-bottom: 10px;
		}
	}
}

.community-info {
	margin-left: 15px;
	padding: 7px;
	margin-top: 1px;
	border-radius: 5px;
	
	&.warning {
		background-color: @alert-warning-bg;
	}
}

span.community-approved {
	color: @main-color;
	margin-left: 5px;
	font-size: 70%;
}

#linksresources, #related-publications-references {
	margin-top: 0.5em;
}

#linksresources {
	margin-top: 15px;
	dt, dd {
		padding-bottom: 3px;
	}
	
	dd a {
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
		hyphens: auto;
	}
}