<?xml version="1.0" ?>
<jsp:root version="2.0"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:fmt="http://java.sun.com/jsp/jstl/fmt"
	xmlns:layout="urn:jsptagdir:/WEB-INF/tags/layout"
	xmlns:tags="urn:jsptagdir:/WEB-INF/tags/tags"
	xmlns:rc="urn:jsptagdir:/WEB-INF/tags/resources/common"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:parts="urn:jsptagdir:/WEB-INF/tags/layout/parts"
	xmlns:mtl="urn:jsptld:/WEB-INF/taglibs/mytaglib.tld"
	xmlns:nav="urn:jsptagdir:/WEB-INF/tags/nav" 
	xmlns:sidebar="urn:jsptagdir:/WEB-INF/tags/layout/sidebar">
	
	<jsp:directive.page contentType="text/html; charset=UTF-8" language="java" pageEncoding="UTF-8" session="true" />

	<layout:resourceLayout  pageTitle="${command.pageTitle}" command="${command}" requPath="${requPath}">
		<jsp:attribute name="heading">
			<parts:search pathMessageKey="navi.viewable" formAction="${relativeUrlGenerator.getViewableUrlByGroupName(command.requestedGroup)}" formInputName="tag">
				<jsp:attribute name="pathPart">
					<a href="${relativeUrlGenerator.getViewableUrlByGroupName(command.requestedGroup)}"><c:out value='${command.requestedGroup}'/></a>
				</jsp:attribute>
			</parts:search>
		</jsp:attribute>
		
		<jsp:attribute name="breadcrumbs">
			<nav:breadcrumbs>
				<jsp:attribute name="crumbs">
					<nav:usercrumb requestedUser="${command.requestedUser}" loginUser="${command.context.loginUser}" />
					<nav:viewableCrumb requestedGroup="${command.requestedGroup}" active="${true}" />
				</jsp:attribute>
			</nav:breadcrumbs>
		</jsp:attribute>
		
		<jsp:attribute name="sidebar">
			<c:set var="group" value="${command.group}" />
			<c:if test="${mtl:isRegularGroup(group)}">
				<sidebar:groupDetailsItem group="${group}"/>
				<sidebar:groupMembersItem group="${group}"/>
			</c:if>
			<sidebar:sidebarTagCloudItem requPath="${requPath}" cmd="${command.tagcloud}" showTooltips="${command.context.loginUser.settings.tagboxTooltip}"/>
		</jsp:attribute>
		
		
	</layout:resourceLayout>

</jsp:root>